<h1>ログイン</h1>
<%= form_with(scope: :session, local: true, html: {name: "login"}) do |form| %>
  <div class="form_group">
    <%= form.label :email, "メールアドレス" %>
    <%= form.text_field :email, class: 'form-control', id: 'session_email' %>
  </div>
  <div class="form_group">
    <%= form.label :password, "パスワード" %>
    <%= form.password_field :password, class: 'form-control', id: 'session_password' %>
  </div>
  <div class="actions">
    <%= form.submit 'ログイン' %>
  </div>
  <%= link_to '新規登録はこちら', new_user_path %>
<% end %>
